<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <title>Books Manager</title>
    </head>
    <body>

        <!--table presenting all 'books' from the model-->
        <h2>Books List</h2>

        <table border="1">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Year</th>
                    <th>Genre</th>
                    <th>Added by</th>
                    <th>Rating</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="b: ${books}">
                    <td th:text="${b.title}">[title]</td>
                    <td th:text="${b.author}">[author]</td>
                    <td th:text="${b.publicationYear}">[publicationYear]</td>
                    <td><div th:each="g : ${b.genres}" th:text="${g.name}"></div></td>
                    <td th:text="${b.addedBy.username}">[addedBy]</td>
                    <td>
                        <!--(alternative) show logged user rating-->
                        <span th:if="${b.userRating != null}" style="color: green;">
                            Your rating: <span th:text="${b.userRating}"></span>
                        </span>
                        <!--(alternative) show form to rate book-->
                        <form th:if="${b.userRating == null}" th:action="@{/book/{id}/rate(id=${b.id})}" method="post">
                            <select name="ratingValue">
                                <option th:each="i : ${#numbers.sequence(1,5)}" th:value="${i}" th:text="${i}"></option> <!--create a select with values 1-5-->
                            </select>
                            <button type="submit">Rate</button>
                        </form>
                        <!--show average rating-->
                        <p>Average rating: <span th:text="${#numbers.formatDecimal(b.averageRating, 1, 1)}"></span></p> <!--field averageRating doesn't exist but thymeleaf calls Book.getAverageRating() & knows the value-->
                    </td>
                </tr>
            </tbody>
        </table>

        <p><a th:href="@{/book-form}">Add new book</a></p>

        <!--filtering and sorting form-->
        <h3>Apply filtering / sorting</h3>

        <form method="get" th:action="@{/book/list}">
            <input type="text" name="author" placeholder="Author..." th:value="${param.author}" />

            <fieldset>
                <legend>Select genres</legend>
                <div th:each="g : ${allGenres}">
                    <label>
                        <input type="checkbox" name="genreIds" th:value="${g.id}" 
                            th:checked="${param.genreIds != null and param.genreIds.contains(g.id)}" />
                        <span th:text="${g.name}">Genre</span>
                    </label><br/>
                </div>
            </fieldset>

            <button type="submit">Filter</button>
        </form>

        <!--logged user and logout link-->
        <hr>
        <div style="text-align: center; margin-top: 1em;">
            <span>
                Logged in as: <strong sec:authentication="name">[username]</strong>
            </span>
            <form th:action="@{/logout}" method="post" style="display: inline;">
                <button type="submit">Logout</button>
            </form>
        </div>

    </body>
</html>