<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
    <head>
        <title>Books Manager</title>
    </head>
    <body>

        <!--table presenting all 'books' from the model-->
        <h2>Books List</h2>

        <table border="1">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Publication</th>
                    <th>Genre</th>
                    <th>Added by</th>
                    <th>Rating</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="b: ${books}">
                    <td th:text="${b.title}">title</td>
                    <td th:text="${b.author}">author</td>
                    <td th:text="${b.publicationYear}">publicationYear</td>
                    <td>
                        <div th:each="g : ${b.genres}" th:text="${g.name}"></div>
                    </td>
                    <td th:text="${b.addedBy.username}">addedBy</td>
                    <td>
                        <form th:action="@{/book/{id}/rate(id=${b.id})}" method="post">
                            <select name="ratingValue">
                                <option th:each="i : ${#numbers.sequence(1,5)}" th:value="${i}" th:text="${i}"></option> <!--create a select with values 1-5-->
                            </select>
                            <button type="submit">Rate</button>
                        </form>
                        <p>Average rating: <span th:text="${#numbers.formatDecimal(b.averageRating, 1, 1)}"></span></p> <!--field averageRating doesn't exist but thymeleaf calls Book.getAverageRating() & knows the value-->
                    </td>
                </tr>
            </tbody>
        </table>

        <p><a th:href="@{/book-form}">Add new book</a></p>

    </body>
</html>