<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
    <head>
        <title>Adding record form</title>
    </head>
    <body>
        
        <!--html form asking for user input; using dto created in the GET method-->
        <h2>Add new book</h2>
        
        <form th:action="@{/book-form/save}" method="post" th:object="${bookDto}">
            <input type="text" th:field="*{title}" placeholder="Title..." required/><br/><br/>
            <input type="text" th:field="*{author}" placeholder="Author..."required/><br/><br/>
            <label>Publication Year</label><br/>
            <input type="number" th:field="*{publicationYear}"/>
            
            <p><label>Select genres</label></p>
            <div th:each="g : ${allGenres}">
                <label>
                    <input type="checkbox" th:value="${g.id}" th:field="*{genreIds}" />
                    <span th:text="${g.name}"></span>
                </label><br/>
            </div>
            <br/>

            <button type="submit">Add book</button>
            <div th:if="${#fields.hasErrors('title')}" th:errors="*{title}" class="error"></div>
            <div th:if="${#fields.hasErrors('author')}" th:errors="*{author}" class="error"></div>
            <div th:if="${#fields.hasErrors('publicationYear')}" th:errors="*{publicationYear}" class="error"></div>
        </form>

        <p th:if="${duplicateError}" th:text="${duplicateError}" style="color: red;"></p>

        <p><a th:href="@{/book-list}">← Back to list</a></p>

    </body>
</html>