<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
    <head>
        <title>Add new transaction</title>
    </head>
    <body>
        <h1>Add new transaction</h1>
        
        <!--html forms asking for user input for new transaction-->
        <!--using dto created in the GET method-->
        <!--field 'type' is hard-coded here, hidden from the user-->
        
        <h2>Add income</h2>
        <form th:action="@{/transactions/save}" method="post" th:object="${transactionDto}">
            <input type="hidden" name="type" value="INCOME" />
            <select th:field="*{categoryId}">
                <option th:each="cat : ${incomeCategories}" th:value="${cat.id}" th:text="${cat.name}"></option>
            </select>
            <input type="number" step="0.01" th:field="*{amount}" placeholder="0.00" required/>
            <input type="text" th:field="*{description}" placeholder="Optional description"/>
            <input type="date" th:field="*{date}"required/>
            <button type="submit">Add income</button>
            <div th:if="${#fields.hasErrors('amount')}" th:errors="*{amount}" class="error"></div>
            <div th:if="${#fields.hasErrors('date')}" th:errors="*{date}" class="error"></div>
        </form>

        <h2>Add expense</h2>
        <form th:action="@{/transactions/save}" method="post" th:object="${transactionDto}">
            <input type="hidden" name="type" value="EXPENSE" />
            <select th:field="*{categoryId}">
                <option th:each="cat : ${expenseCategories}" th:value="${cat.id}" th:text="${cat.name}"></option>
            </select>
            <input type="number" step="0.01" th:field="*{amount}" placeholder="0.00" required/>
            <input type="text" th:field="*{description}" placeholder="Optional description"/>
            <input type="date" th:field="*{date}"required/>
            <button type="submit">Add expense</button>
            <div th:if="${#fields.hasErrors('amount')}" th:errors="*{amount}" class="error"></div>
            <div th:if="${#fields.hasErrors('date')}" th:errors="*{date}" class="error"></div>
        </form>

        <p><a th:href="@{/transactions}">← Back to list</a></p>
    </body>
</html>